#
*.bak
*.log
*.swp

# Cache
.cache/

# Sublime
.config/sublime-text-3/
!.config/sublime-text-3/Packages/User/
.config/sublime-text-3/Packages/User/Package Control.cache
.config/sublime-text-3/Packages/User/Package Control.last-run
.codeintel

# Vim
.vim/.netrwhist
.vim/.tmp/*
.vim/.undo/*
.vim/autoload/*
.vim/plugged/*
.vim/sessions/*
.vim/spell/*.spl
.viminfo
_viminfo

# Tmux
.tmux/plugins
!.tmux/plugins/tpm

# local history
.bash_history
.kshdb_hist
.lesshst
.mysql_history
.gdb_history
.python_history
.python-history
.wget-hsts

# Dropbox
.dropbox*/
Dropbox/

# other
.ICEauthority
.Xauthority
.sudo_as_admin_successful
.oracle_jre_usage/
.gnupg/
.dbus/
.p2/
.zoom/
.xsession-errors*
Desktop/
Downloads/
Documents/
Games/
Music/
Pictures/

# Wine and friends
.wine/
WindowsPrograms/
.PlayOnLinux/
PlayOnLinux*/

# Steam
.steam/
.steampath
.steampid

# Windows
NTUSER.DAT*
