#
*.bak
*.log

# Cache
.cache/

# Sublime
.config/sublime-text-3/Packages/User/Package Control.cache
.config/sublime-text-3/Packages/User/Package Control.last-run
.codeintel

# Vim
.vim/.netrwhist
.vim/.tmp/*
.vim/.undo/*
.vim/autoload/plug.old
.vim/autoload/plug.vim
.vim/plugged/*
.vim/spell/*.spl
.viminfo
_viminfo

# Tmux
.tmux/plugins
!.tmux/plugins/tpm

# local history
.bash_history
.kshdb_hist
.lesshst
.mysql_history
.python-history
.wget-hsts

# other
.sudo_as_admin_successful
.oracle_jre_usage/
.p2/

# Windows
NTUSER.DAT*
