# each repo has link to .gitconfig.<os>
/.gitconfig

# Windows
/*.appx
/3D Objects/
/AppData/*
!/AppData/Roaming/
/AppData/Roaming/*
/Contacts/
/Cookies/
/Desktop/
/Documents/
/Downloads/
/Favorites/
/Games/
/iCloudDrive/
/IntelGraphicsProfiles/
/Links/
/Local Settings/
/Luxoft/
/MicrosoftEdgeBackups/
/Music/
/My Documents/
/NetHood/
/ntuser*
/NTUSER*
/OneDrive/
/Pictures/
/PrintHood/
/Recent/
/runtime-keygen.product/
/Saved Games/
/Searches/
/SendTo/
/skype-export/
/Snap/
/Start Menu/
/Templates/
/Tracing/
/Videos/
/WordfastPro/
/workspace/

# Linux
/.ICEauthority
/.QtWebEngineProcess/
/.VirtualBox/
/.Xauthority
/.anyconnect
/.apport-ignore.xml
/.cisco/
/.codeintel/
/.config/configstore/
/.config/packer/
/.cups/
/.dbus-keyrings/
/.dbus/
/.dlv/
/.docker/
/.ebookreader/
/.eclipse/
/.esets/
/.fop/
/.gnupg/
/.gtkrc*
/.links2/
/.local/
/.minikube/
/.motd_shown
/.mozilla/
/.oracle_jre_usage/
/.pki/
/.poetry/
/.qt-license
/.repoconfig/
/.screenleap
/.ssh/
/.sudo_as_admin_successful
/.thumbnails/
/.vagrant.d/
/.vs-*/
/.vscode*/
/.wf_workspace/
/.xsession-errors*
/.yarnrc
/.zcompdump*
/.zenmap/
/.zoom/
/VirtualBox VMs/

# Mac OS X
/.CFUserTextEncoding
/.DS_Store
/.Trash/
/Library/
/Movies/
/Public/
/iCloud Drive (Archive)/

# Backup
*.bak
*.log
*.swp
*.backup

# Vim
/.vim/.netrwhist
/.vim/.tmp/
/.vim/.undo/
/.vim/autoload/
/.vim/plugged/
/.vim/sessions/
/.vim/spell/*.spl
/.viminfo
/_viminfo

# Tmux
/.tmux/plugins
!/.tmux/plugins/tpm

# Ranger
/.config/ranger/bookmarks
/.config/ranger/history
/.config/ranger/tagged

# Python
__pycache__/
*.py[co]
/.ipython/
!/.ipython/profile_default/startup
/.anaconda/
/.conda/
/.idlerc/
/.jupyter/
/.matplotlib/
/.ptpython/history
/.PyCharm*/
/.pylint.d/
/.python_history
/.python-history

# JavaScripy
/.npm/
/npm-cache/

# Go
/go/

# Java
/.gradle/
/.Idea*/
/.IntelliJIdea*/
/.java-caller/
/.javacpp/
/.m2/
/.p2/
/IdeaProjects/
/Oracle/

# local history
/.bash_sessions/
/.bash_history
/.gdb_history
/.kshdb_hist
/.lesshst
/.mysql_history
/.picocom_history
/.wget-hsts
/.node_repl_history
/.swipl-dir-history

# zsh
/.oh-my-zsh/
/.zsh_history
/.zsh_sessions/

# Local cache
/.cache/

# Dropbox
/.dropbox*/
/Dropbox/

# Wine and friends
/.wine/
/WindowsPrograms/
/.PlayOnLinux/
/PlayOnLinux*/

# Steam
/.steam/
/.steampath
/.steampid

# Yandex Cloud
/yandex-cloud/
/.config/yandex-cloud/

# Other
/.android/
/.aws
/.azure
/.crc/
/.iamlive/
/.jenkins-hpl-map
/.jfrog/
/.kube/
/.lc/
/.tabnine/
/.terraform.d/
/Calibre Library/
/perl5/
/tmp*/
