# See https://www.gnu.org/software/bash/manual/bashref.html#Readline-Arguments
# for available parameters

set keymap emacs
# arrow up
"\e[A":history-search-backward
# arrow down
"\e[B":history-search-forward

## home and end keys
# https://wiki.archlinux.org/index.php/Home_and_End_keys_not_working
#"\e[1~": beginning-of-line
#"\e[4~": end-of-line
#"\e[7~": beginning-of-line
#"\e[8~": end-of-line
#"\eOH": beginning-of-line
#"\eOF": end-of-line
#"\e[H": beginning-of-line
#"\e[F": end-of-line

## allow to type russian letters
# set output-meta on
# set convert-meta off

# bindings in insert mode
set keymap vi-insert
"\e.":yank-last-arg
"\e_":yank-last-arg

# show mode at the beginning of prompt
set show-mode-in-prompt on
# use vi mode by default
set editing-mode emacs
